.header {
   width: 100%;
   background-color: #121314;
   border-bottom: 0.2px solid rgb(73, 72, 72);
   left: 0;
   right: 0;
   .content {
      height: 80px;
      display: flex;
      align-items: center;
      width: 1440px;
      margin: 0 auto;
      max-width: 100%;
      .logo {
         transform: rotate(-30deg);
         width: 43px;
         height: 60px;
         margin-left: 80px;
      }

      .title {
         margin-left: 26px;
         color: #fafbff;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         .company {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1;
         }
         .status {
            font-size: 0.6rem;
            line-height: 1.5;
         }
      }

      .navbar {
         margin-left: 144px;
         display: flex;
         list-style-type: none;
         position: relative;

         li a:hover {
            color: #fafbff;
         }
         li a {
            text-decoration: none;
            color: #919294;
            font-size: 1rem;
            padding: 0 10px;
            margin: 0 20px;
         }

         li.active a {
            color: #fafbff;
         }
      }

      .btn {
         width: 130px;
         margin-left: auto;
         margin-right: 80px;
      }

      li.active::after {
         content: '';
         width: 20px;
         height: 2px;
         background-color: #fafbff;
         display: block;
         position: absolute;
         left: 30px;
         top: 30px;
      }
   }
}

.header.fixed {
   position: fixed;
   top: 0;
   z-index: 1;
}
