@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@700&family=Montserrat:wght@300;500;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
   --primary: #141416;
   --active: #9cff82;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-style: 62.5%;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 1.6rem;
   line-height: 1;
   //    font-family: 'Lato', sans-serif;
   //    font-family: 'Montserrat', sans-serif;
   //    font-family: 'Poppins', sans-serif;
}

.btn {
   padding: 14px 20px;
   border-radius: 100px;
   font-size: 1rem;
   border: 1px solid #9cff82;
   color: #9cff82;
   background-color: #121314;
}

.btn.active {
   background-color: #9cff82;
   color: #121314;
}

.btn:hover {
   background-color: #9cff82;
   color: #121314;
   border: 1px solid;
   cursor: pointer;
}
