.card-container {
   display: flex;
   gap: 32px;
   margin-top: 80px;
   .card {
      border: 1px solid #252b5a;
      border-radius: 16px;
      padding: 34px 24px;
      width: calc(100% / 4);
      background-color: #17181a;
      &:hover {
         border: 1px solid #37383d;
      }
      .icon {
         margin-bottom: 42px;
      }
      .title {
         color: #fafbff;
         font-weight: 700;
         font-size: 2rem;
         margin-bottom: 16px;
      }
      .desc {
         font-weight: 400;
         font-size: 1.4rem;
         color: #919294;
      }
   }
}
