.introduce-content {
   height: calc(100vh - 80px);
   margin-left: auto;
   margin-right: auto;
   max-width: calc(100% - 20px);
   margin-top: 80px;
   display: flex;
   justify-content: center;
   .content {
      width: 1440px;
      background-image: url('../../../assets/img/Homepage.png');
      background-repeat: no-repeat;
      background-size: cover;
      .introduce {
         display: flex;
         flex-direction: column;
         gap: 16px;
         height: 100%;
         width: 50%;
         justify-content: center;
         .title {
            background: linear-gradient(224.27deg, #9cff82 70%, #3968f4 98.77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 1.4rem;
         }

         .welcome {
            font-size: 2.6rem;
            font-weight: 700;
            color: #fafbff;
            font-size: 3.5rem;
         }

         .desc {
            color: #fafbff;
            font-size: 1rem;
            margin-bottom: 24px;
         }

         .btn + .btn {
            margin-left: 12px;
         }
      }
   }
}
