.footer-container {
   background-color: #121314;
   color: #fafbff;
   .footer-content {
      padding: 60px 80px;
      border-top: 1px solid #37383d;
      display: flex;
      gap: 78px;
      justify-content: space-around;
      .introduce {
         gap: 17px;
         display: flex;
         width: 400px;
         .col1 {
            .logo {
               width: 24px;
            }
         }
         .col2 {
            display: flex;
            flex-direction: column;
            .name {
               font-weight: 300;
               font-size: 1.2rem;
               margin-bottom: 3px;
               line-height: 1;
            }
            .status {
               font-weight: 300;
               font-size: 0.4rem;
               margin-bottom: 18px;
               position: relative;
               left: 70px;
               line-height: 1;
            }
            .desc {
               font-weight: 300;
               font-size: 1rem;
               color: #919294;
               line-height: 1.5;
            }
         }
      }

      .link {
         display: flex;
         flex-direction: column;
         width: 300px;

         .title {
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 3px;
            line-height: 1;
            margin-bottom: 18px;
         }
         .q-link {
            text-decoration: none;
            font-weight: 300;
            font-size: 1rem;
            color: #919294;
            line-height: 2;
         }
      }

      .service {
         display: flex;
         flex-direction: column;
         width: 300px;

         .title {
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 3px;
            line-height: 1;
            margin-bottom: 18px;
         }

         .service-type {
            text-decoration: none;
            font-weight: 300;
            font-size: 1rem;
            color: #919294;
            line-height: 2;
         }
      }

      .contact {
         display: flex;
         width: 300px;
         flex-direction: column;
         .title {
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 3px;
            margin-bottom: 18px;
         }

         .information {
            font-weight: 300;
            font-size: 1rem;
            color: #919294;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .space {
               display: flex;
               gap: 14px;
            }
         }

         .follow {
            display: flex;
            margin-top: 24px;
            .follow-desc {
               font-size: 1rem;
               color: #919294;
               line-height: 1.5;
            }
            .follow-icon {
               display: flex;
               gap: 24px;
               .facebook {
                  margin-left: 12px;
               }
            }
         }
      }
   }
}
